/* Калькулятор */

h2 {
    margin-top: 48px;
    text-align: center;
}
h3 {
    font-weight: 400;
    margin: 0;
    color: #498EF5;
}
.calculator {
   flex-flow: row wrap !important;
   justify-content: space-between !important;
   align-items: flex-start !important;
   margin: 32px 0;
}
.left {
   width: 499px;
   display: flex;
   flex-direction: column;
}
.left > p {
   margin-bottom: 0;
}
.left > p:first-child {
    font-size: 18px;
}

/* Тарифы */

.config {
    margin-top: 32px;
}
.show_choosed {
    min-height: 27px;
    position: relative;
}
.choosed {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin: 20px 0;
}
.hint {
    position: absolute;
    top: -70px;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    padding: 12px 40px 12px 12px;
    width: 280px;
    border-radius: 8px;
    background: #1E1E23;
    color: white;
}
.hint > img {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 3;
    cursor: pointer;
}
.choosed > img {
    min-width: 20px;
    margin-right: 15px;
    height: 20px;
}
.choosed > img:hover {
    cursor: pointer;
}
.choosed > p {
    width: calc(100% - 35px - 110px);
}
.choosed > b {
    width: 110px;
    display: flex;
    align-items: center;
}
.choosed > span {
    width: 100%;
    margin: 10px 0 0 35px;
}


.config > .add {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 14px 30px;
    width: 239px;
    margin-top: 32px;
    border: 1px solid #498EF5;
    border-radius: 4px;
    letter-spacing: 0.1em;
    color: #498EF5;
    font-size: 16px;
}
.config > .add img {
    margin-right: 10px;
}
.config > .add:hover {
     cursor: pointer;
     background: #498EF5;
     color: white;
}

/* Модальное окно с выбором тарифов */

.background {
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.575);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}
.modal {
    display: none;
    position: fixed;
    top: calc((100% - 573px) / 2);
    left: calc((100% - 768px) / 2);
    width: 768px;
    z-index: 3;
    overflow: hidden;
    border-radius: 8px;
    background: white;
    border: 1px solid rgba(119, 119, 119, 0.308);
}
.Open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal > .header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 32px;
    background: white;
}
.modal > .header > p {
    text-align: center;
    font-size: 24px;
    color: #1E1E23;
}
.modal > .header > img {
   position: absolute;
   top: 23px;
   right: 23px;
   z-index: 4;
   cursor: pointer;
}
.tariffs {
   align-items: flex-start !important;
   display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 32px;
    padding-top: 0;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}
.tariffs::-webkit-scrollbar {
    width: 8px;
}
.tariffs::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #D8D8E7;
}
.tariffs::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    background: #F0F0F3;
    border-radius: 4px;
}
.tariff {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.tariff > img {
    margin-right: 16px;
}
.tariff > p {
    width: 140px;
}
.tariff > b {
    margin: 0 40px 0 20px;
    display: flex;
    align-items: center !important;
    vertical-align: top;
}
.apply {
    box-sizing: border-box;
    padding: 14px 40px;
    width: 178px;
    margin: 30px 0 20px 0;
    background: #1E1E23;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}
.error {
    color: #F03B5C;
    width: 100%;
    margin-top: 12px;
}

/* Параметры */

.options {
    margin-top: 32px;
}
.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.option > p {
    position: relative;
    padding-left: 26px;
}
.nameO {
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    cursor: pointer;
}
.option:last-child {
    margin-bottom: 0;
}
.option > div {
   display: flex;
    align-items: center;
    justify-content: space-around;
    width: 142px;
    border: 1px solid #D8D8E7;
    border-radius: 4px;
}
.option > div > img {
   box-sizing: border-box;
   width: 16px;
   margin: 10px 16px;
   cursor: pointer;
}
.option > div > input {
   box-sizing: border-box;
   width: 44px;
   height: 36px;
   text-align: center;
   font-size: 16px;
}
.option b {
    margin-left: 10px;
}

/* Дополнительные опции */

.advance {
    margin-top: 24px;
    position: relative;
}
.advance > div {
   display: flex;
   margin-bottom: 10px;
   justify-content: space-between;
}
.advance > div > p {
    position: relative;
    padding-left: 26px;
}
.nameA {
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    cursor: pointer;
}
.advance > div >p:first-child {
    display: flex;
    align-items: center;
}
.advance b {
    margin-left: 10px;
}
.button {
   width: 48px;
   height: 24px;
   cursor: pointer;
}
 
/* Правый блок */
 
.right {
    width: 400px;
    height: 393px;
    margin-left: 50px;
    box-sizing: border-box;
    padding: 32px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 32px 48px rgba(32, 34, 37, 0.1);
    border-radius: 16px;
}
.right > h3 {
    margin-bottom: 32px;
}
.periods {
    width: 142px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #D8D8E7;
    text-align: center;
    margin-top: 41px;
}
.periods > p {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.periods > p:first-child {
    border-right: 1px solid #D8D8E7;
}
.periods > p:last-child {
    border-left: 1px solid #D8D8E7;
}
p.Active {
    background: #498EF5;
    color: #FFFFFF;
    cursor: auto !important;
}
.price {
    margin-top: 48px;
    color: #498EF5;
    font-size: 22px;
}
.form {
   box-sizing: border-box;
   width: 300px;
   padding: 14px;
   margin-top: 32px !important;
   background: #1E1E23;
   border-radius: 4px;
   color: white;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   text-align: center;
   cursor: pointer;
}
.callback {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: calc((100% - 373px) / 2);
    left: calc((100% - 768px) / 2);
    width: 768px;
    height: 373px;
    z-index: 3;
    overflow: hidden;
    border-radius: 8px;
    background: white;
    border: 1px solid rgba(119, 119, 119, 0.308);
}
.callback > input {
    height: 30px;
    width: 150px;
}
.callback > button {
    height: 30px;
    width: 150px;
}
.register {
    box-sizing: border-box;
    width: 280px;
    margin: 20px !important;
}

/* Технические классы */

.Blocked {
    cursor: auto !important;
}

@media only screen and (max-width: 1030px) {

    .left {
        width: 100%;
        padding: 0 100px;
        font-size: 20px;
    }
    .right {
        width: 100%;
        margin-left: 0;
        padding: 32px 100px;
        font-size: 20px;
    }
}
@media only screen and (max-width: 800px) {

    .left {
        padding: 32px;
        font-size: 18px;
    }
    .right {
        padding: 32px;
        font-size: 18px;
    }
    .modal {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        border: 0px solid rgba(119, 119, 119, 0.308);
        font-size: 16px;
    }
}
@media only screen and (max-width: 500px) {

    .left {
        padding: 15px;
        font-size: 16px;
    }
    .right {
        padding: 15px;
        font-size: 16px;
    }

    .tariff {
        flex-flow: row wrap;
    }
    .tariff > p {
        width: calc(100% - 44px - 40%);
    }
    .tariff > b {
        width: calc(100% - 44px - 65%);
    }
    .tariff > span {
        width: 100%;
        margin-left: 44px;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 420px) {

    .tariff {
        flex-flow: row wrap;
    }
    .tariff > p {
        width: calc(100% - 44px);
    }
    .tariff > b {
        width: calc(100% - 44px);
        margin: 10px 0 0 44px;
    }
    .tariff > span {
        width: calc(100% - 44px);
        margin-left: 44px;
        margin-top: 20px;
    }
    .hint {
        width: 200px;
        font-size: 14px;
    }
}
@media only screen and (max-width: 380px) {

    h2 {
        font-size: 110%;
        margin: 24px 0 0 0;
    }
    h3 {
        text-align: center;
    }
    .calculator {
        margin-top: 0;
    }
    .left {
        padding: 0;
    }
    .right {
        padding: 20px;
    }

    .config {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .choosed {
        margin-bottom: 25px;
    }
    .choosed > p {
        width: calc(100% - 35px);
    }
    .choosed > b {
        width: calc(100% - 35px);
        margin: 10px 0 0 35px;
    }
    .choosed > span {
        width: 100%;
        margin-left: 35px;
        margin-top: 10px;
    }

    .option {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .option > div {
        margin-top: 20px;
    }
    .advance > div {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .advance > div > img {
        margin-top: 20px;
        margin-left: 30px;
    }
    
    .form {
        width: 100%;
    }
}