body {
    width: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0;
    border: 0;
    background: rgba(119, 119, 119, 0.17);
    background-attachment: fixed;
    background-size: cover;
}
hr {
    color: #555;
    background-color: #d0d0d0;
    border: 0px none;
    height: 1px;
    clear: both; 
    width: 88%;
    margin: 60px 0;
}
ul, menu, dir { 
    list-style-type: disc;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
li {
    list-style-type: none; 
}
ul {
    margin-left: 0; 
    padding-left: 0; 
}
a {
    text-decoration: none;
}

.wrapper {
    width: 1080px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0px 0px 2px rgba(114, 109, 109, 0.71);
    color: rgba(75, 75, 75, 0.9);
    font-size: 1em;
}
.wrapper p {
    margin: 0;
}
.wrapper > div {
    box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font_m {
    font-size: 16px;
}
.font_l {
    font-size: 18px;
}

header {
    width: 100%;
    position: relative;
    padding-top: 10px;
    border-bottom:1px rgba(183, 183, 183, 0.47) solid;
    color: #777;
    box-shadow:0px 0px 4px #777;
}
header > h1 {
    font-size: 1.2em;
    font-weight: normal;
    max-width: 400px;
    padding-left: 100px;
}
header > p {
    max-width: 500px;
    padding-left: 100px;
}
header > ul {
    box-sizing: border-box;
    width: 100%;
    margin-top: 23px;
    padding: 15px 50px;
    display: flex;
    justify-content: space-around;
    background: rgb(129, 157, 211);
}
header > ul > li > a {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: white;
}
header > ul > li > a > img {
    margin-right: 10px;
    display: inline-block;
}
header > ul > li > a > p {
    display: none;
}

@media only screen and (max-width: 1100px) {
    
    .wrapper {
        width: 100%;
        box-shadow: none;
    }
}
@media only screen and (max-width: 768px) {
    
    .wrapper > div {
        padding: 20px;
    }
    
    header > h1 {
        font-size: 18px;
        padding-left: 20px;
    }
    header > p {
        padding-left: 20px;
    }
    header > ul > li > a {
        font-size: 14px;
    }
}
@media only screen and (max-width: 600px) {
    
    header br {
        display: none;
    }
    header > ul {
        padding: 15px 5px;
    }
    header > ul > li > a > span {
        display: none;
    }
    header > ul > li > a > p {
        display: block;
    }
}
@media only screen and (max-width: 400px) {

    header > h1 {
        font-size: 14px;
        padding-left: 5px;
    }
    header > p {
        font-size: 12px;
        padding-left: 5px;
    }
}